.infoBox {
  flex: 1;
  border-top: 10px solid transparent;
}

.infoBox:not(:last-child) {
  margin-right: 1rem;
}

.infoBox--red {
  border-color: #cc1034;
}

.infoBox--green {
  border-color: #7dd71d;
}
.infoBox--purple {
  border-color: #761cd6;
}
/* .infoBox__title {
  height: 2.5rem;
} */

.infoBox__cases {
  /* color: #cc1034; */
  font-weight: 600;
  font-size: 1.75rem;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 960px) {
  .infoBox__cases {
    margin-top: 0.75rem;
    font-size: 1.25rem;
  }
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 1rem !important;
}
